* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orage: hsl(31, 77%, 52%);
  --cyan: hsl(184, 100%, 22%);
  --dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --light-gray: hsl(0, 0%, 95%);
}

.body {
  font-family: "Lexend Deca", serif;
  /* font-family: "Big Shoulders Display", serif; */
  font-size: 15px;
  background-color: var(--light-gray);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%; /* Allow full width */
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 24rem));
  justify-content: center;

  width: 100%; /* Ensures the container uses full available width */
  max-width: 1400px; /* Adjust as needed */
}

.sedans {
  background-color: var(--orage);
  padding: 3rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding-right: 4rem;
}

.sedans h3,
.suvs h3,
.luxury h3 {
  color: var(--light-gray);
  margin-top: 2.5rem;
  font-family: "Big Shoulders Display", serif;
  font-size: 2.5rem;
}

.sedans p,
.suvs p,
.luxury p {
  margin-top: 2.5rem;
  font-family: "Lexend Deca", serif;
  font-weight: 400;
  color: var(--transparent-white);
  line-height: 1.8;
  margin-right: 3rem;
  font-size: 1rem;
}

.btn1 {
  margin-top: 7rem;
  background-color: var(--light-gray);
  border: 0.2rem solid var(--light-gray);
  border-radius: 3rem;
  padding: 1rem 2rem;
  color: var(--orage);
  font-family: "Lexend Deca", serif;
}

.btn1:hover {
  cursor: pointer;
  background-color: var(--orage);
  color: var(--light-gray);
}

.suvs {
  background-color: var(--cyan);
  padding: 3rem;
  padding-right: 4rem;
}

.btn2 {
  margin-top: 7rem;
  background-color: var(--light-gray);
  border: 0.2rem solid var(--light-gray);
  border-radius: 3rem;
  padding: 1rem 2rem;
  color: var(--cyan);
  font-family: "Lexend Deca", serif;
}

.btn2:hover {
  cursor: pointer;
  background-color: var(--cyan);
  color: var(--light-gray);
}

.luxury {
  background-color: var(--dark-cyan);
  padding: 3rem;
  padding-right: 4rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.btn3 {
  margin-top: 7rem;
  background-color: var(--light-gray);
  border: 0.2rem solid var(--light-gray);
  border-radius: 3rem;
  padding: 1rem 2rem;
  color: var(--dark-cyan);
  font-family: "Lexend Deca", serif;
}

.btn3:hover {
  cursor: pointer;
  background-color: var(--dark-cyan);
  color: var(--light-gray);
}

.attribution {
  transform: translateY(-10px);
}

@media (max-width: 500px) {
  .container {
    margin: 1rem;
  }

  .sedans {
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0;
  }

  .luxury {
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 1rem;
  }

  .sedans h3,
  .suvs h3,
  .luxury h3 {
    margin-top: 1.8rem;
  }

  .btn1,
  .btn2,
  .btn3 {
    margin-top: 1.8rem;
  }

  .sedans,
  .suvs,
  .luxury {
    padding-right: 2rem;
  }
}
